/*  Welcome section start */

.welcome .container-fluid{

	background-color: #87509c;
	padding-bottom: 150px;
	padding-top: 50px;

	
}

.welcome .navi ul{

	text-transform: uppercase;
	display: flex;
	list-style: none;
	float: right;
}

@media(max-width: 536px){

     	.welcome .navi ul{

     		flex-flow:column;
     	    float: left;
     		padding-top: 50px;
     		margin: 0 auto;
     		padding-left: 0;
     		padding-bottom: 0;

     	}

     }
@media(max-width: 768px){

     	.welcome .navi ul{

     		padding-top: 20px;
     		

     	}

     }
.welcome .navi li a{

    text-decoration: none;
	color: #ffffff;
	padding-right: 18px;
    padding-left: 18px;
	font-size: 18px;
}

.welcome .navi li a:hover{

	background-color: #643a79;
	border-radius: 4px;
	padding: 5px 18px 5px 18px;
}

.welcome .text{

	text-align: center;
	padding-top: 130px
}

@media (max-width: 768px){

     .welcome .text{
     padding-top: 40px;

    }
}

.welcome .text h2{

	font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 70px;

   
}

@media (max-width: 768px){

    .welcome .text h2{
     font-size: 1.8em;


    }
}

.welcome .text a{

	text-transform: uppercase;
	text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    border-bottom: 5px solid #c55725;
    border-radius: 5px;
    background-color: #eb7d4b;
    padding: 20px 80px 20px 80px;
}
@media(max-width: 736px){

	.welcome .text a{

	text-transform: uppercase;
	text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    border-bottom: 5px solid #c55725;
    border-radius: 5px;
    background-color: #eb7d4b;
    padding: 20px 70px 20px 70px;
	}
}

@media(max-width: 536px){

    .welcome .text a{  
     border-bottom: 3px solid #c55725;
     border-radius: 5px;
	 padding: 10px 18px 10px 18px;
	 background-color: #eb7d4b;

     		
     	}

     }
.welcome .text a:hover{

      background-color: #db7546;
      border-bottom: 5px solid #db7546;
      border-radius: 5px;   
}
/*  Welcome section end */

/*  services section start */

.services .container-fluid{

	background-color: #17c2a4;
	padding-top: 115px;
	padding-bottom: 150px;
	text-align: center;
	
}

.services .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#14a58c;
}

.services .text h1{
	padding-bottom: 20px;
	font-weight: bold;
    text-transform: uppercase;
	color: #ffffff;
}

.services .text p{

	color: #ffffff;
	padding-top: 20px;
	font-size: 1.2em;

}

.services .icons-text{
      
      color: #ffffff;
      padding-top: 85px;


}

.services .icons-text p{
      
      padding-top: 20px;
    

}

.services .icons-text h2{

     margin-bottom: 0px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 1.7em;
	 padding-top: 30px;
}

@media(max-width: 768px){

    .services .icons-text h2{ 
        font-size: 1.2em; 
    		
     	}

     }
.services .flag{

	padding-top: 5px;
}
.services .gear{

	padding-top: 7px;
}

/*  services section end */

/*  team section start */

.team .container-fluid{

	background-color: #e7f1f8;
	padding-top: 115px;
	padding-bottom: 150px;
	text-align: center; 
}

.team .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#c8d9e5;
}

.team .text-team h1{
	font-size: 2.5em;
	padding-bottom: 23px;
	font-weight: bold;
    text-transform: uppercase;
	color: #3c4761;
}

.team .text-team p{

	color: #3c4761;
	padding-top: 20px;
	font-size: 1.3em;

}

.team .img-text{


	padding-top: 80px;
}

.team .img-text p{

    font-size: 1em;
	
}

.team .img-text h3{

    color: #3c4761;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 35px;

 
}
@media(min-width: 1024px){

    .team .img-text h3{ 
        font-size: 1.5em; 
  

     		
     	}

     }
@media(max-width: 768px){

    .team h3{ 
        font-size: 1em; 
  

     		
     	}

     }

 @media(max-width: 768px){

   .team .img-text .span p{ 
        font-size: 0.9em; 
  

     		
     	}

     }
.team .span{

	color: #48c1e9;
	padding-bottom: 10px;
}
.team .social i{

	border-radius: 20px;
	height: 30px;
	width: 30px;
	padding-top: 5px;
	font-size: 1.2em;
	background-color: #bdd1df;
	color: #ffffff;
}
/*  team section end */

/*  skills section start */

.skills .container-fluid{

	background-color: #ffffff;
	padding-top: 115px;
	padding-bottom: 150px;
	text-align: center; 
}

.skills .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#dfe8ed;
}

.skills .skills-text h1{
	font-size: 2.5em;
	padding-bottom: 23px;
	font-weight: bold;
    text-transform: uppercase;
	color: #3c4761;
}

.skills .skills-text p{

	color: #3c4761;
	padding-top: 20px;
	font-size: 1.3em;

}

@media(max-width: 768px){

    .skills .skills-text p{

     	   font-size: 1.2em;
     	}

     }
.skills .percents-text h3{

    color: #3c4761;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 20px;
 
}

.skills  img{

    
    padding-top: 60px;
 
}

/*  skills section end */ 

/*  portfolio section start */                   
.portfolio .container-fluid{

	background-color: #ffdd99;
	padding-top: 115px;
	padding-bottom: 150px;
	text-align: center; 
}

.portfolio .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#e5c37f;
}

.portfolio .portfolio-text h1{
	font-size: 2.5em;
	padding-bottom: 5px;
	font-weight: bold;
    text-transform: uppercase;
	color: #393939;
}

.portfolio .portfolio-text p{

	color: #393939;
	padding-top: 20px;
	font-size: 1.3em;

}

.portfolio .buttons{

	padding-top: 44px;
}

.portfolio .buttons a{

     text-decoration: none;
     text-transform: uppercase;
     color: #393939;
     padding-right: 18px;
     padding-left: 18px;
     border-radius: 4px;
	 padding: 5px 18px 5px 18px;
	 background-color: #ebc985;
}
@media(max-width: 1280px){

    .portfolio .buttons a{

	   padding: 5px 10px 5px 10px;
	 
	
     	}

     }
.portfolio .buttons a:hover{

      background-color: #ffffff;
} 

@media(max-width: 1280px){

	.portfolio .gallery img{

		max-width: 100%;
	}
}

.portfolio .gallery-text {

	padding-top:60px;

}

.portfolio .gallery-text p{

    text-transform: uppercase;
	padding-top:20px;

}

.portfolio .load-button{

	padding-top: 20px;
}

.portfolio .load-button a{

	 
	 text-decoration: none;
     text-transform: uppercase;
     color: #ffffff;
     border-bottom: 3px solid #14a58c;
     border-radius: 5px;
	 padding: 10px 18px 10px 18px;
	 background-color: #17c2a4;

}



.portfolio .load-button a:hover{

     background-color: #20ae95;
     border-bottom: 3px solid #20ae95;
     border-radius: 5px;
}      

/*  portfolio section end */     


/*  testimonials section start */    

.testimonials .container-fluid{

	background-color: #d74680;
	padding-top: 115px;
	padding-bottom: 150px;
	
}


.testimonials .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#b73c6d;
}   


.testimonials .testimonials-text h1{
	text-align: center;
	font-size: 2.5em;
	padding-bottom: 20px;
	font-weight: bold;
    text-transform: uppercase;
	color: #ffffff;
}

.testimonials .testimonials-text p{

	color: #ffffff;
	padding-top: 20px;
	font-size: 1.3em;
	text-align: center;

}

.testimonials .feedback{

	padding-top: 25px;
}

.testimonials .feedback-text p{

    font-size: 1.1em;
    color: #ffffff;
    font-style: italic;
	padding-top: 50px;
	padding-left: 60px;
}

.testimonials .feedback-text h2{
   
   font-weight: bold;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 1.2em;
   padding-left: 60px;
}

.testimonials .span p{
    
    font-size: 1em;
    font-style: normal; 
	color: #fac996;
    padding-top: 0;
	padding-bottom: 40px;
}

.testimonials .feedback img{

        padding-left: 60px;
    	padding-top: 50px;
	
     	}

 @media(min-width: 768px){

     .testimonials .feedback img{	     
          padding-left: 20px;

           }
     	} 


/*  testimonials section end */ 

/*  touch section start */ 

.touch .container-fluid{

	background-color: #3c5499;
	padding-top: 120px;
	padding-bottom: 150px;
	text-align: center;
	
}

.touch .line{

	display: block;
	width: 80px;
	height: 5px;
	margin: 0 auto;
	background-color:#273a71;
}   

.touch .touch-text h1{
	
	font-size: 2.5em;
	padding-bottom: 20px;
	font-weight: bold;
    text-transform: uppercase;
	color: #ffffff;
}

.touch .touch-text p{

	color: #ffffff;
	padding-top: 20px;
	font-size: 1.2em;
	text-align: center;

}

.touch .input{

	padding-top: 60px;

}

.touch .name input{
    background-color: #273a71;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 25px 0 25px 25px;
    width: 100%;
}

@media(max-width: 1280px){

     .touch .name{	     
          padding: 20px 0 20px 20px;
          padding-right: 15px;
          padding-left: 15px;

           }
     	}
.touch .email input{
    background-color: #273a71;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 25px 0 25px 25px;
    width: 100%;
}

@media(max-width: 1280px){

     .touch .email{	     
          padding: 20px 0 20px 20px;
          padding-right: 15px;
          padding-left: 15px;

           }
     	}
.touch textarea{
	background-color: #273a71;
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    padding: 25px 0 25px 25px;
    width: 100%;
}


.touch .input .message{

	padding-top: 30px;
}

.touch .send-button{

	padding-top: 50px;
}

.touch .send-button a{

	 
	 text-decoration: none;
     text-transform: uppercase;
     color: #ffffff;
     border-bottom: 3px solid #0a94c1;
     border-radius: 5px;
	 padding: 20px 75px 20px 75px;
	 background-color: #30bae7;

}

@media(max-width: 536px){

    .touch .send-button a{  
     border-bottom: 3px solid #0a94c1;
     border-radius: 5px;
	 padding: 10px 18px 10px 18px;
	 background-color: #30bae7;

     		
     	}

     }

.touch .send-button a:hover{

     background-color: #2aa4cc;
     border-bottom: 3px solid #2aa4cc;
     border-radius: 5px;
}      

/*  touch section end */

/*  footer section start */

.footer .container-fluid{

	background-color: #344b8e;
	padding-top: 40px;
	padding-bottom: 20px;
	
}


.footer .links ul{
   
	display: flex;
	list-style: none;
    padding-left: 70px;
}

@media(max-width: 636px){

     	.footer .links ul{
            
     		flex-flow:column;
     		padding: 0;



     	}

     }


.footer .links li a{
    font-weight: bold;
    text-decoration: none;
	color: #ffffff;
	padding-right: 28px;
    padding-left: 28px;
	font-size: 1.3em;

}
@media(max-width: 800px){
          
  .footer .links li a{ 
	padding-right: 15px;
    padding-left: 15px;
	font-size: 1em;

     	}

     }

 @media(max-width: 800px){
          
  .footer .links ul{ 
	padding-left: 40px;
	

     	}

     }

    @media(max-width: 1024px){
          
  .footer .links li a{ 
	padding-left: 10px;

	

     	}

     }
   
.footer .links li a:hover{

	color: #30bae7;
		
}

/*  footer section end */